/.venv
/.vscode
/.env
/__pycache__
/modules/__pycache__
/api/__pycache__
/api/admin/__pycache__
/api/airouter/__pycache__
/handlers/misc/__pycache__
/handlers/misc/libs/string_comparer/__pycache__
/handlers/misc/libs/tokenizer/__pycache__
/tests/__pycache__
/tests/handlers/misc/libs/tokenizer/__pycache__